---
import Layout from "../layouts/Layout.astro";
import AddVerse from "../components/AddVerse.astro";
import AddVerseScript from "../components/AddVerseScript.astro";
---

<Layout title="Bible Memory Palace">
	<h1 class="text-3xl font-bold mb-6">Bible Memory Palace</h1>
	<AddVerse />
	<AddVerseScript />
</Layout>
